.sidebar {
    width: 20vw;
    padding: .5rem;
    height: 100vh;
    background-color: #202123;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__newChat {
    color: #fff;
    width: 100%;
    height: 42px;

    font-size: 0.9rem;
    font-weight: bold;

    border: solid 1px #555659;
    border-radius: 5px;

    display: flex;
    align-items: center;

    margin: 2px 16px;
    cursor: pointer;
    transition: all ease 0.25s;
}

.sidebar__newChat:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar__newChat-icon {
    margin-left: 12px;
    margin-right: 16px;
}

.sidebar__conversations{
    color: white;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 0 16px;

    margin-top: 16px;
}

.sidebar__conversation{
    width: 100%;
    margin-bottom: 8px;
    padding: 12px 0;
    border: solid 1px #343541;
    background-color: #343541;
    border-radius: 8px;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.sidebar__conversation--icon{
    margin-right: 12px;
    margin-left: 16px;
}

.sidebar__conversation--edit{
    margin-left: auto;
    margin-right: 8px;
    cursor: pointer;
    color: #a0a0a0;
}

.sidebar__conversation--delete{
    margin-right: 8px;
    cursor: pointer;
    color: #a0a0a0;
}

.sidebar__conversation--delete:hover,
.sidebar__conversation--edit:hover{
    color: #fff;
}

.sidebar__conversation--name{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 400;
    width: 60%;
}